html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
}

.black {
  color: #000000 !important;
}
.white {
  color: #ffffff !important;
}

.hero-section-div {
  height: 100% !important;
  width: 100% !important;
}
.hero-section-padding {
  padding: 40px 50px !important;
}

.page-title {
  font-weight: 600 !important;
  font-size: 32px !important;
  color: #000000 !important;
}

/* Row1 */
.row1 {
  display: flex !important;
  width: 80% !important;
  margin: 5px 10% !important;
}
.box1 {
  width: 24% !important;
  margin: 0 0.5% !important;
  background-color: #f9f9f9 !important;
  cursor: pointer !important;
  border-radius: 10px !important;
}
.box1:hover {
  background-color: #ececec !important;
}
.box1-title {
  text-align: center !important;
  padding: 18px 0 !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}

/* Row 2 */
.row2 {
  display: flex !important;
  width: 80% !important;
  margin: 0px 10% !important;
}
.box2 {
  width: 33% !important;
  margin: 5px 0.5% !important;
  background-color: #f5f5f5 !important;
  cursor: pointer !important;
  border-radius: 10px !important;
}
.box2:hover {
  background-color: #ececec !important;
}
.box2-title {
  text-align: center !important;
  padding: 0px 0 !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}

/* Row 3 */
.row3 {
  display: flex !important;
  width: 100% !important;
  margin: 10px 0px !important;
  padding: 5px !important;
  background-color: #f9f9f9 !important;
  border-radius: 5px !important;
}
.box3 {
  width: 32% !important;
  margin: 8px 0.5% !important;
  background-color: #ffffff !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  display: flex !important;
  justify-content: space-between !important;
  text-align: center !important;
  padding: 10px 20px !important;
}
.box3-title {
  text-align: center !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}

.box3-image3 {
  height: 45px !important;
  width: 45px !important;
  border-radius: 50% !important;
  padding: 0 15px !important;
}

.box3-icon {
  height: 25px !important;
  width: 25px !important;
  align-content: center !important;
  vertical-align: middle !important;
  padding: 10px 15px !important;
}
.no-icon {
  position: absolute !important;
  padding: 0 0px 0 90px !important;
}
.no-image {
  padding: 0 0px 0 50px !important;
}

/* Table */
table {
  width: 100% !important;
  margin: 20px 0 0 0 !important;
}
thead {
  width: 100% !important;
}
tbody {
  width: 100% !important;
}
tr.border_top td {
  border-top: 0.5px solid rgb(240, 240, 240) !important;
}
th {
  font-size: 18px !important;
  font-weight: 600 !important;
  text-align: center !important;
  padding: 20px !important;
}
td {
  font-size: 15px !important;
  font-weight: 400 !important;
  text-align: center !important;
  padding: 20px !important;
}

td img {
  height: 30px !important;
  width: 25px !important;
}
.td-display {
  height: 20px !important;
  width: 20px !important;
  cursor: pointer !important;
}
